/* You can add global styles to this file, and also import other style files */

$color-primary: #3376D5;

.bg-primary {
    background-color: $color-primary;
}

.cursor-pointer {
    cursor: pointer;
}